.home-btn-div {
	margin-top: 6%;
	margin-left: -7%;
}

.home-btn {
	margin-left: 10px;
	margin-right: 10px;
	padding: 15px;
	width: 150px;
	height: 50px;
	color: white;
	/*font-size: 20px;*/
	font-weight: 700;
	background-color: transparent;
	border: 1px solid;
	border-color: white;
	border-radius: 4px;
}

.home-btn:hover {
	color: #1ac6ff;
	border-color: #1ac6ff;
}

#Container .mix {
	display: none;
}

.amp {
	font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
	font-style: italic;
	font-weight: normal;
}

.business-logo {
	padding-left: 10px;
	padding-right: 10px;
	color: #777;
}

.logo-img {
	width: 120px;
}

.logo-img:hover {
	cursor: pointer;
}

.business-logo-img {
	width: 92%;
}

.business-logo-all {
	font-size: 21px;
}

/*.business-list-logos .active {
	text-decoration: underline;
}*/

.filter {
	cursor: pointer;
}

.logo-cat-selected {
	padding-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #1ac6ff;
	color: #1ac6ff;
}

#buy-card-btn {

}

/* Css for pop-ups */
.pop-ups, #overlay {
	display: none;
}

#overlay {
	position: fixed;
    top: 0;
    bottom: 0;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 100;
}

#buster-pizza-popup {
	position: fixed;
    margin: auto;
    background: #fff;
    top: 10%;
    left: 10%;
    width: 80vw;
    height: 80vh;
    z-index: 200;
}

#get-card-popup, #ehub-popup {
	position: fixed;
/*    top: 50%;
    left: 50%;
    background: #fff;
    max-width: 600px;
    height: 500px;
    margin-left: -300px;
    margin-top: -250px;*/
}

.get-card-close-btn {
	float: right;
	padding: 10px;
	cursor: pointer;
}

.popup-logo, .popup-title, .popup-socialmedia, .popup-description, .popup-footer {
	height: 10vh;
	vertical-align: middle;
}

.popup-location {
	height: 30vh;
}

.popup-logo-img {
	width: 200px;
}

.popup-title > h3 {
	font-weight: 700;
	color: #1ac6ff;
}

.popup-logo, .popup-title, .popup-socialmedia, .popup-description, .popup-footer {
	/*height: 100px;*/
}

.popup-description > p {
	padding-left: 40px;
	padding-right: 40px;
}

.popup-location {
	padding-left: 40px;
	padding-right: 40px;
}

.popup-location-list {
	position: absolute;
	overflow-y: scroll;
	max-height: 25%;
	max-width: 80%;
}

.popup-location > h5 {
	color: #1ac6ff;
}

.popup-footer {
	position: fixed;
	left: 15%;
	right: 15%;
	bottom: 16%;
}

.popup-footer > h4 {
	color: #1ac6ff;
}

.popup-social-img {
	width: 80px;
	padding: 13px;
}

/* css for get-card */

#get-card {
	padding-top: 80px;
	padding-bottom: 80px;
}

#get-card-form {
	margin-top: 60px;
}

#get-card-online > h2 {
	color: #777;
}

#get-card-online > h3 {
	margin-top: 70px;
	margin-bottom: 70px;
	text-align: center;
}

#get-card-offline > h2 {
	color: #777;
}

#get-card-online-submit {
	padding-left: 15px;
	cursor: pointer;
}

#quantity-select {
	-webkit-appearance: menulist-button;
}







